*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent {
    display: grid;
    grid-template-columns: 5rem repeat(4, 2fr);
    grid-template-rows: 5rem repeat(4, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
    
.div1 { grid-area: 1 / 1 / 6 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 6; }
.div3 { grid-area: 2 / 2 / 4 / 4; }
.div4 { grid-area: 4 / 2 / 6 / 4; }
.div5 { grid-area: 2 / 4 / 4 / 5; }
.div6 { grid-area: 2 / 5 / 4 / 6; }
.div7 { grid-area: 4 / 4 / 6 / 6; }